<span appUiColor>couleur attribut</span>
<span appUiColor myColor="blue">couleur attribut blue</span>
<app-ui-panel [divided]="currentItem">
  <span class="ui-title">{{title}}</span>
  <div class="ui-body">
    <div class="list-group">
      <input class="form-control" [(ngModel)]="searchValue">
    </div>
    <div class="list-group">
      <button type="button" class="btn btn-primary" (click)="select({})">Créer un nouvel utilisateur</button>
    </div>
    <app-list-item *ngFor="let item of listItems | search:searchValue" [item]="item" [active]="currentItem && item.id === currentItem.id"
      (click)="select(item)" (clickToRemove)="onClickToRemove($event)"></app-list-item>
  </div>
</app-ui-panel>
<app-ui-confirm (confirm)="onRemove($event)" title="Suppression">
  Confirmez-vous la suppression de l'utilisateur : {{currentItemToRemove.name}} ?
</app-ui-confirm>
