<app-ui-panel *ngIf="item" [divided]="true">
  <span class="ui-title">Edition</span>
  <div class="list-group ui-body">
    <pre>{{item | json}}</pre>
    <form #formEdit="ngForm" (ngSubmit)="onSubmit(formEdit)">
      <legend>{{itemInitial.id}} - {{itemInitial.name}}</legend>
      <div class="form-group">
        <label for="name">Name</label>
        <input required type="text" class="form-control" id="name" name="name" placeholder="Saisir le name" [(ngModel)]="item.name"
          #name="ngModel" pattern=".{3,10}">
        <div class="alert alert-danger" [hidden]="name.pristine || name.valid">3 à 10 caractères</div>
      </div>
      <div class="form-group">
        <label for="codename">codename</label>
        <input required type="text" class="form-control" id="codename" name="codename" placeholder="Saisir le codename" [(ngModel)]="item.codename"
          #codename="ngModel">
        <div class="alert alert-danger" [hidden]="codename.pristine || codename.valid">Obligatoire</div>
      </div>
      <img [hidden]="codename.invalid" src="http://robohash.org/{{item.codename}}" class="circle " width="150 " height="150 ">
      <hr>
      <button type="button" class="btn btn-primary" (click)="onReset(formEdit) ; formEdit.form.markAsPristine()" [disabled]="formEdit.pristine">
         <i class="glyphicon glyphicon-retweet"></i>
        <span>Réinitialiser</span>
      </button>
      <button type="submit" class="btn btn-primary" [disabled]="formEdit.form.invalid">
         <i class="glyphicon glyphicon-ok"></i>
         <span>Valider</span>
      </button>
    </form>
  </div>
</app-ui-panel>
